@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 50%;
  left: 15%;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-align: center;
  transform: translateY(50%);
}
.w-450 {
  max-width: 450px;
  /* margin: 0 auto; */
}
.w-300 {
  max-width: 350px;
  /* margin: 0 auto; */
}
.bg-sky-light {
  background-color: #f4fafd;
}
#module #collapseExample.collapse:not(.show) {
  display: block;
  height: 3rem;
  overflow: hidden;
}

#module #collapseExample.collapsing {
  height: 3rem;
}
.fa-star, .fa-star-half-stroke{
  color: #FBBF24;
}

@media (max-width: 991px) {
  .explore-img {
    height: 480px;
  }
  .w-300 {
    max-width: 290px;
    /* margin: 0 auto; */
  }
}
@media (max-width: 768px) {
  .explore-img {
    height: auto;
  }
  .w-300 {
    max-width: 300px;
    /* margin: 0 auto; */
  }
}

.